<div class="card-movie pointer mr-1 mb-3" placement="right" [ngbTooltip]="info" tooltipClass="custom-tooltip">
    <div class="card-movie__image">
        <span *ngIf="!movie.in_watch_list" class="watch" (click)="handelWatchList(movie.id)" ngbTooltip="Add to my watch list" placement="top">
            <i class="fa-solid fa-clock"></i>
        </span>
        <span *ngIf="movie.in_watch_list" class="watch" (click)="handelWatchList(movie.id)" ngbTooltip="Remove to my watch list" placement="top">
            <i class="fa-solid fa-circle-check"></i>
        </span>
        <img (click)="goToMovie(movie.id)" class="image" src="assets/images/{{movie.thumbnail}}" [alt]="movie.title">
        <p class="rate">{{movie.rating}}</p>
    </div>
    <p (click)="goToMovie(movie.id)" class="title mt-2">{{movie.title}}</p>
</div>

<ng-template #info>
    <div class="movie-information">
        <p class="title">{{movie.title}}</p>
        <p class="duration">{{movie.duration}} {{movie.released_date}}</p>
        <p class="desc">{{movie.description}}</p>
    </div>
</ng-template>
