<div class="main-navbar">
    <div class="logo-menu">
        <div class="logo" routerLink="/movies">
            <i class="fa-solid fa-film mr-2"></i>
            <b>MoviesApp</b>
        </div>
        <div class="menu">
            <ul class="menu-items">
                <li class="menu__item pointer" routerLink="/movies">Movies</li>
                <li class="menu__item pointer" routerLink="/favorites">My list</li>
                <li class="menu__item pointer" routerLink="/genres">Genre</li>
            </ul>
        </div>
    </div>
    <div class="search">
        <app-search-input></app-search-input>
    </div>
</div>
