
// Background colors
$background-main-color: #24283a;
$background-dark-color: #3a3f55;
$background-brown-color: #574747;


// Font colors
$font-main-color: white;
$font-gray-color: #9B9F9B;

//Items
$item-green-light-color: #a1dbc3;
$item-blue-light-color: #5ca3a8;

$pastel-pink: #dfbed8;
$pastel-green: #c5dba1;
$pastel-brown: #dbb6a1;
